<div class="chatPage">
  <header class="header">
    <i class="fas fa-comments fa-3x"></i>
    <div class="header_logo"><%= link_to image_tag("match1.png"), "/groups/new"%></div>
  </header>
  </header>
  <div class="container">
    <div class="messagesArea messages">
      <%= render @messages %>
    </div>
  <div class=form>
    <%=form_for [@group, @message] do |f|%>
      <%= f.text_field :content, class: 'form__message', id: 'new_message', placeholder: 'type a message'%>
      <%= f.submit 'Send', class: 'form__submit'%>
    <%end%>
  </div>
  </div>
</div>
