<div class="matchingPage">
  <header class="header">
    <i class="fas fa-heart fa-3x light-blue"></i>
    <div class="header_logo"><%= link_to image_tag("user.jpg"), new_user_session_path %></div>
  </header>
  <div class="container">
    <div class="mt-5">
    <h2 class="pageTitle">同じ趣味の人一覧</h2>
    <div class="matchingList">
      <% @users.each do |user| %>
      <%if current_user.sex != user.sex && current_user.hobby == user.hobby %>
        <div class="matchingPerson">
        <div class="matchingPerson_img"><%= link_to image_tag(user.img_name.url(:thumb), width: '50', height: '40'), "/users/#{user.id}"%></div>
          <div class="matchingPerson_name"><%= user.name %></div>
            <%= form_tag('/groups', method: :post) do %>
              <input name="user_id" type="hidden" value="<%= user.id %>" />
              <%= submit_tag 'チャットを開く', class: "chatForm_btn" %>
            <% end %>
        </div>
      <% end %>
      <% end %>
    </div>
    
    <div class="pagenation"><%= paginate(@users)%></div>
  </div>
</div>
</div>