= render 'shared/header'
%body
  .groupNew
    .group-container
      %h2.pageTitle 相互フォローワー
      .groupList
        - @matchingusers.each do |user|
          .matchingPerson
            .matchingPerson_img= link_to image_tag(user.img_name.url(:thumb), width: '50', height: '40'), "/users/#{user.id}"
            .matchingPerson_name= user.name
            = form_tag('/groups', method: :post) do
              %input{:name => "user_id", :type => "hidden", :value => "#{user.id}"}/
              = submit_tag 'チャットを開く', class: "chatForm_btn"
        .pagenation= paginate(@users)
