.header
  .header-container.d-flex.justify-content-between.mx-auto.p-3
    .header-left
      = link_to(posts_path, class: "d-flex") do
        .header-icon
          = fa_icon 'laptop '
        .header-line
        .header-logo
          Go-En
    .header-center
      .fuzzy_search
      = form_tag(root_path,method: :get) do
        %label.fuzzy_search__label
          = submit_tag 'search', :name => nil,class:"fuzzy_search__label--btn"
        = text_field_tag :search, "",class:"fuzzy_search__field",placeholder:"検索"
    .header-right
      - if signed_in?
        .header-link
          .header-link__icon
            = link_to new_group_path do
              = fa_icon 'heart'
          .header-link__icon
            = link_to user_path(current_user.id) do
              = fa_icon 'user'
      - else
        %ul.signin-btns
          %li
            = link_to "会員登録", sign_up_path, class: "btn registration"
          %li
            = link_to "ログイン", new_user_session_path, class: "btn login"
