.signinPage
  .container
    .userIcon
      .signup-index-facebook-box
        = link_to user_facebook_omniauth_authorize_path do
          Facebookで登録する
          %i
            = fa_icon "facebook-square"
      .signup-index-google-box
        = link_to user_google_oauth2_omniauth_authorize_path do
          .main__conect__lists__google__btn
            Googleで登録する
      %i.fas.fa-user.fa-3x
    %h2.title ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "emailを入力してください"
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "パスワードを入力してください"
      .form-group.text-center
        = f.submit "ログインする", class: "loginBtn"
    = render "devise/shared/links"
