= render 'shared/simple-header'
.signinPage
  .container
    %h2.title ログイン
    .snsIcons
      .snsIcons-container.mt-4
        .snsIcon.snsIcon-email
          = form_for(:user, url: user_session_path) do |f|
            = f.hidden_field :email, value: 'test@go-en-jp.com'
            = f.hidden_field :password, value: 'password'
            = button_tag type: 'submit' do
              = fa_icon 'user'
        .snsIcon-text.snsIcon-text-twitter
          テストユーザーでログイン
        .snsIcon.snsIcon-twitter
          = link_to(user_twitter_omniauth_authorize_path, class: "d-flex text-decoration-none") do
            = fa_icon 'twitter'
        .snsIcon-text.snsIcon-text-twitter
          twitterでログイン
      .snsIcons-container.mt-4
        .snsIcon.snsIcon-facebook
          = link_to(user_facebook_omniauth_authorize_path, class: "d-flex text-decoration-none") do
            = fa_icon 'facebook-square'
        .snsIcon-text.snsIcon-text-facebook
          facebookでログイン
      .snsIcons-container.mt-4
        .snsIcon.snsIcon-google
          = link_to(user_google_oauth2_omniauth_authorize_path, class: "d-flex text-decoration-none") do
            = fa_icon 'google'
        .snsIcon-text.snsIcon-text-google
          googleでログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: "emailを入力してください"
      .form-group
        = f.label :password
        %br/
        = f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "パスワードを入力してください"
      .form-group.text-center
        = f.submit "ログインする", class: "loginBtn"
    .signupPage-links.text-center
      = link_to "アカウントの作成はこちら",sign_up_path, class: "text-decoration-none signupPage-link"
        
