.recommendusers-users-container.d-flex.m-4
  .recommenduser-user
    = link_to image_tag(recommenduser.img_name.url(:thumb), width: '50', height: '40'), "/users/#{recommenduser.id}"
    = link_to "#{recommenduser.name}", "/users/#{recommenduser.id}"
  - if user_signed_in?
    .postShow-follow.mr-0
      = render 'relationships/follow_button', user: recommenduser 
  - else
    .postShow-follow-notin.ml-0
      =link_to "フォローする", new_user_session_path