= render 'shared/post-btn'
= render 'shared/header'
%body
  .postIndex
    .postIndex-container.container.mx-auto
      .postShow-left.postIndex-left
        .postShow-user
          .postShow-user__img
            = link_to image_tag(@user.img_name.url(:thumb), width: '50', height: '40'), "/users/#{@user.id}"
          .postShow-user__name
            = @post.user.name
        - if user_signed_in?
          .postShow-follow
            = render 'relationships/follow_button', user: @user 
        - else
          .postShow-follow-notin
            =link_to "フォローする", new_user_session_path
      .postIndex-right
        .post-contents
          .post-contents-container
            .post-chart
              .post-chart-title
                %span.font-weight-bold
                  = "#{@post.user.name}"
                さんの
                %span.font-weight-bold
                  = "#{@post.created_at.strftime("%m/%d")}"
                の学習時間
              .post-chart-time
                ="#{@time_sum}時間"
              .post-chart-chart
                = pie_chart @chart
            .post-text
              = @post.text
            .post-content-time
              = @post.created_at.strftime("%Y-%m-%d %H:%M")
= render 'shared/footer'
            